version: '3.5'
services:
  traefik:
    image: traefik:1.7.6
    command: --api --docker
    restart: always
    ports:
      - 80:80
      - 443:443 
      - 8000:8080
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /home/plone/traefik/traefik.toml:/traefik.toml
      - /home/plone/traefik/acme.json:/acme.json
networks:
  default:
    external:
      name: proxy 
