[log]
  level = "ERROR"

[providers.docker]

[api]
  dashboard = true

[entryPoints]
  [entryPoints.web]
    address = ":80"
  [entryPoints.websecure]
    address = ":443"

[certificatesResolvers.letsencrypt.acme]
email = "benoit@suttor.be"
storage = "acme.json"
  [certificatesResolvers.letsencrypt.acme.httpChallenge]
  entryPoint = "web"
