version: '3.5'
services:
  website:
    image: oality/website:latest
    ports:
      - 3000
    labels:
      - traefik.enable=true
      - traefik.http.routers.website.rule=Host(`{{ domain }}`)
      - traefik.http.routers.website.tls=true
      - traefik.http.routers.website.tls.certresolver=letsencrypt

networks:
  default:
    external:
      name: proxy

