version: '3.5'
services:
  website:
    image: oality/website:latest
    ports:
      - 3000
    labels:
      - traefik.enable=true
      - traefik.http.routers.website.rule=Host(`{{ domain }}`) || Host(`{{ domain2 }}`)
      - traefik.http.routers.website.tls=true
      - traefik.http.routers.website.tls.certresolver=letsencrypt
      - traefik.http.routers.instance1.middlewares=redirect-domain
      - traefik.http.middlewares.redirect-domain.redirectregexdomain.regex=^https://{{ domain2 }}/(.*)"
      - traefik.http.middlewares.redirect-domain.redirectregexdomain.replacement=https://{{ domain }}/$${1}"


networks:
  default:
    external:
      name: proxy

