version: '3.5'
services:
  zeo:
    image: oality/{{ image_name }}:latest
    expose:
      - 8100
    volumes:
      - /data/{{ project_id }}/blobstorage:/data/blobstorage
      - /data/{{ project_id }}/filestorage:/data/filestorage
    command: zeoserver
    healthcheck:
      test: ["CMD", "nc", "-z", "-w5", "127.0.0.1", "8100"]
  instance1:
    image: oality/{{ image_name }}:latest
    restart: always
    volumes:
      - /data/{{ project_id }}/blobstorage:/data/blobstorage
    ports:
      - 8080
    environment:
      - ZEO_ADDRESS=zeo:8080
    links:
      - zeo
    labels:
      - traefik.http.routers.instance1.rule=Host(`{{ domain }}`) && PathPrefix(`/api`)
      - traefik.http.routers.instance1.tls=true
      - traefik.http.routers.instance1.tls.certresolver=letsencrypt
      - traefik.http.routers.instance1.middlewares=plone-api
      - traefik.http.middlewares.plone-api.replacepathregex.regex=^/api/(.*)
      - traefik.http.middlewares.plone-api.replacepathregex.replacement=/VirtualHostBase/https/{{ domain }}/Plone/VirtualHostRoot/_vh_api/$$1
      - traefik.http.middlewares.instance1.redirectscheme.scheme=websecure
      - traefik.http.middlewares.instance1.redirectscheme.permanent=true
  instance2:
    image: oality/{{ image_name }}:latest
    restart: always
    volumes:
      - /data/{{ project_id }}/blobstorage:/data/blobstorage
    ports:
      - 8080
    environment:
      - ZEO_ADDRESS=zeo:8080
    links:
      - zeo
    labels:
      - traefik.http.routers.instance2.rule=Host(`{{ domain }}`) && PathPrefix(`/api`)
      - traefik.http.routers.instance2.tls=true
      - traefik.http.routers.instance2.tls.certresolver=letsencrypt
      - traefik.http.routers.instance2.middlewares=plone-api
      - traefik.http.middlewares.plone-api.replacepathregex.regex=^/api/(.*)
      - traefik.http.middlewares.plone-api.replacepathregex.replacement=/VirtualHostBase/https/{{ domain }}/Plone/VirtualHostRoot/_vh_api/$$1
      - traefik.http.middlewares.instance2.redirectscheme.scheme=websecure
      - traefik.http.middlewares.instance2.redirectscheme.permanent=true

networks:
  default:
    external:
      name: proxy

