#!/usr/bin/env bash
if [[ "$@" == "" ]];
then
    echo "This script need APPID argument"
    exit 0
else
  APPID="$@"
  APPPATH="/plone/$APPID"
  if [ -d "$APPPATH" ]; then
    cd $APPPATH
    docker-compose pull
    docker-compose up -d --force-recreate --no-deps instance1
    until [ `docker inspect -f {{ '{{' }}.State.Health.Status{{ '}}' }} $(docker-compose ps -q instance1)` == "healthy" ]; do
        sleep 1
    done

    docker-compose up -d --force-recreate --no-deps instance2

    until [ `docker inspect -f {{ '{{' }}.State.Health.Status{{ '}}' }} $(docker-compose ps -q instance2)` == "healthy" ]; do
        sleep 1
    done
  fi
fi
